{
  "presets": ["@babel/react"],
  "plugins": [
    ["import", {"libraryName": "antd", "libraryDirectory": "es", "style": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
