.inspect__top-block__table {
    width: auto;
}

.inspect__top-block__cell {
    padding: 1px 5px;
    white-space: nowrap
}

.inspect__top-block__cell_size {
    font-weight: bold;
}

.inspect__form__item {
    padding-right: 10px;
}
